body {
  background: #efefef;
}

#btn {
  width: 200px;
  height: 200px;
  background: #ef454a;
  border-radius: 5%;
  margin: 30px auto;
  text-align: center;
  line-height: 200px;
  color: #fff;
  font-weight: bold;
  font-size: 100px;
  cursor: pointer;
  box-shadow: 0 10px 0 #d1483e;
  user-select: none;
  transition: 0.2s;
}

#btn:hover {
  opacity: 0.9;
}

#btn:active{
  box-shadow: 0 5px 0 #d1483e;
  margin-top: 35px;
  transform: rotate(360deg);
}
